
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* font-family: 'Open Sans', sans-serif; */

/* h1,h2,h3,h4,h5,h6,legend{ */
/*     font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif; */
/*     font-weight:700; */
/*     margin-top:0; */
/* } */

/* h1{ */
/*     font-size:175%; */
/* } */

/* .subtitle{ */
/*     font-size:95%; /\* of h1 *\/ */
/* } */

/* h2{ */
/*     font-size:150%; */
/* } */

/* h3{ */
/*     font-size:125%; */
/* } */

/* h4{ */
/*     font-size:115%; */
/* } */

/* h5{ */
/*     font-size:110%; */
/* } */

/* h6{ */
/*     font-size:100%; */
/* } */

/* h4,h5,h6{ */
/*     color:#2980B9; */
/*     font-weight:300; */
/* } */

/* html{ */
/*     -ms-text-size-adjust:100%; */
/*     -webkit-text-size-adjust:100%; */
/*     font-size:100%; */
/*     height:100%; */
/*     overflow-x:hidden; */
/* } */

/* body{ */
/*     background:#edf0f2; */
/*     color:#404040; */
/*     font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; */
/*     font-weight:normal; */
/*     margin-top: 55px; */
/*     min-height:100%; */
/*     overflow-x:hidden; */
/* } */

/* #content{ */
/*     background:#fcfcfc; */
/*     height:100%; */
/*     margin-left:300px; */
/*     /\* margin:auto; *\/ */
/*     max-width:800px; */
/*     min-height:100%; */
/*     padding:1.618em 3.236em; */
/* } */

/* p{ */
/*     font-size:16px; */
/*     line-height:24px; */
/*     margin:0px 0px 24px 0px; */
/* } */

/* b,strong{ */
/*     font-weight:bold} */

/* blockquote{ */
/*     background-color: #F0F0F0; */
/*     border-left:5px solid #CCCCCC; */
/*     font-style:italic; */
/*     line-height:24px; */
/*     margin:0px 0px 24px 0px; */
/*     /\* margin-left:24px; *\/ */
/*     padding: 6px 20px; */
/* } */

/* ul,ol,dl{ */
/*     line-height:24px; */
/*     list-style-image:none; */
/*     /\* list-style:none; *\/ */
/*     margin:0px 0px 24px 0px; */
/*     padding:0; */
/* } */

/* li{ */
/*     margin-left: 24px; */
/* } */

/* dd{ */
/*     margin:0; */
/* } */

/*  .section ul, .toctree-wrapper ul,article ul{ */
/*     list-style:disc; */
/*     line-height:24px; */
/*     margin-bottom:24px} */

/*  .section ul li, .toctree-wrapper ul li,article ul li{ */
/*     list-style:disc; */
/*     margin-left:24px} */

/*  .section ul li p:last-child, .toctree-wrapper ul li p:last-child,article ul li p:last-child{ */
/*                                                                                                                                   margin-bottom:0} */

/*  .section ul li ul, .toctree-wrapper ul li ul,article ul li ul{ */
/*     margin-bottom:0} */

/*  .section ul li li, .toctree-wrapper ul li li,article ul li li{ */
/*     list-style:circle} */

/*  .section ul li li li, .toctree-wrapper ul li li li,article ul li li li{ */
/*     list-style:square} */

/*  .section ul li ol li, .toctree-wrapper ul li ol li,article ul li ol li{ */
/*     list-style:decimal} */

/*  .section ol, ol,article ol{ */
/*     list-style:decimal; */
/*     line-height:24px; */
/*     margin-bottom:24px} */

/*  .section ol li, ol li,article ol li{ */
/*     list-style:decimal; */
/*     margin-left:24px} */

/*  .section ol li p:last-child, ol li p:last-child,article ol li p:last-child{ */
/*                                                                                                                            margin-bottom:0} */

/*  .section ol li ul, ol li ul,article ol li ul{ */
/*     margin-bottom:0} */

/*  .section ol li ul li, ol li ul li,article ol li ul li{ */
/*     list-style:disc} */

/* dl dt{ */
/*     font-weight:bold; */
/* } */

/* dl p,dl table,dl ul,dl ol{ */
/*     margin-bottom:12px !important; */
/* } */

/* dl dd{ */
/*     margin:0 0 12px 24px; */
/* } */

/* @media print{ */
/*     .codeblock,pre.src{ */
/*         white-space:pre.src-wrap} */
/* } */

/* @media print{ */
/*     html,body,section{ */
/*         background:none !important} */

/*     *{ */
/*         box-shadow:none !important; */
/*         text-shadow:none !important; */
/*         filter:none !important; */
/*         -ms-filter:none !important} */

/*     a,a:visited{ */
/*           text-decoration:underline} */

/*     pre.src,blockquote{ */
/*         page-break-inside:avoid} */

/*     thead{ */
/*         display:table-header-group} */

/*     tr,img{ */
/*         page-break-inside:avoid} */

/*     img{ */
/*         max-width:100% !important} */

/*     @page{ */
/*         margin:0.5cm} */

/*     p,h2,h3{ */
/*         orphans:3; */
/*         widows:3} */

/*     h2,h3{ */
/*         page-break-after:avoid} */
/* } */

/* @media print{ */
/*     #postamble{ */
/*         display:none} */

/*     { */
/*         margin-left:0} */
/* } */

/* @media print{ */
/*     #table-of-contents{ */
/*         display:none} */

/*     @page{ */
/*         size: auto; */
/*         margin: 25mm 25mm 25mm 25mm;} */

/*     body { */
/*         margin: 0px;} */
/* } */

/* @media screen and (max-width: 768px){ */
/* } */

/* @media only screen and (max-width: 480px){ */
/* } */

/* @media screen and (max-width: 768px){ */
/*     .tablet-hide{ */
/*         display:none} */
/* } */

/* @media screen and (max-width: 480px){ */
/*     .mobile-hide{ */
/*         display:none} */
/* } */

/* @media screen and (max-width: 480px){ */
/* } */

/* @media screen and (max-width: 768px){ */
/*     { */
/*         margin-left:0} */

/*      { */
/*         padding:1.618em} */

/*     #content.shift{ */
/*         position:fixed; */
/*         min-width:100%; */
/*         left:85%; */
/*         top:0; */
/*         height:100%; */
/*         overflow:hidden} */
/* } */

/* @media screen and (min-width: 1400px){ */
/*     { */
/*         background:rgba(0,0,0,0.05)} */

/*     { */
/*         background:#fcfcfc} */
/* } */

/* @media screen and (max-width: 768px){ */
/*     #copyright{ */
/*         width:85%; */
/*         display:none} */

/*     #copyright.shift{ */
/*         display:block} */

/*     img{ */
/*         width:100%; */
/*         height:auto} */
/* } */

/* @media screen and (max-width: 480px){ */
/*      .sidebar{ */
/*         width:100%} */
/* } */

/* code{ */
/*     background:#fff; */
/*     border:solid 1px #e1e4e5; */
/*     color:#000;  for clickable code */
/*     font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace; */
/*     font-size:75%; */
/*     max-width:100%; */
/*     overflow-x:auto; */
/*     padding:0 5px; */
/*     white-space:nowrap; */
/* } */

/* .codeblock-example{ */
/*     border:1px solid #e1e4e5; */
/*     border-bottom:none; */
/*     padding:24px; */
/*     padding-top:48px; */
/*     font-weight:500; */
/*     background:#fff; */
/*     position:relative} */

/* .codeblock-example:after{ */
/*     content:"Example"; */
/*     position:absolute; */
/*     top:0px; */
/*     left:0px; */
/*     background:#9B59B6; */
/*     color:#fff; */
/*     padding:6px 12px} */

/* .codeblock-example.prettyprint-example-only{ */
/*     border:1px solid #e1e4e5; */
/*     margin-bottom:24px} */

/* .codeblock,pre.src, .literal-block{ */
/*     border:1px solid #e1e4e5; */
/*     padding:12px; */
/*     overflow-x:auto; */
/*     background:#fff; */
/*     margin:1px 0 24px 0} */

/* pre.src{ */
/*     /\* color:#404040; *\/ */
/*     display:block; */
/*     font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace; */
/*     font-size:12px; */
/*     line-height:1.5; */
/*     margin:1px 0px 24px 0px; */
/*     overflow:auto; */
/*     padding:12px; */
/*     white-space:pre; */
/* } */

.example{
    background:#f3f6f6;
    border:1px solid #e1e4e5;
    color:#404040;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom:24px;
    padding:12px;
}

/* table{ */
/*     border-collapse:collapse; */
/*     border-spacing:0; */
/*     empty-cells:show; */
/*     margin-bottom:24px; */
/*     border-bottom:1px solid #e1e4e5; */
/* } */

/* td{ */
/*     vertical-align:top} */

/* table td,table th{ */
/*     font-size:90%; */
/*     margin:0; */
/*     overflow:visible; */
/*     padding:8px 16px; */
/*     background-color:white; */
/*     border:1px solid #e1e4e5; */
/* } */

/* table thead th{ */
/*     font-weight:bold; */
/*     border-top:3px solid #e1e4e5; */
/*     border-bottom:1px solid #e1e4e5; */
/* } */

/* table caption{ */
/*     color:#000; */
/*     font:italic 85%/1 arial,sans-serif; */
/*     padding:1em 0; */
/* } */

/* table tr:nth-child(2n-1) td{ */
/*     background-color:#f3f6f6; */
/* } */

/* table tr:nth-child(2n) td{ */
/*     background-color:white; */
/* } */

/* .figure p{ */
/*     color:#000; */
/*     font:italic 85%/1 arial,sans-serif; */
/*     padding:1em 0; */
/* } */

/* .rotate-90{ */
/*     -webkit-transform:rotate(90deg); */
/*     -moz-transform:rotate(90deg); */
/*     -ms-transform:rotate(90deg); */
/*     -o-transform:rotate(90deg); */
/*     transform:rotate(90deg); */
/* } */

/* .rotate-270{ */
/*     -webkit-transform:rotate(270deg); */
/*     -moz-transform:rotate(270deg); */
/*     -ms-transform:rotate(270deg); */
/*     -o-transform:rotate(270deg); */
/*     transform:rotate(270deg); */
/* } */

/* #toggle-sidebar, */
/* #table-of-contents .close-sidebar { */
/*     display: none; */
/* } */

/* @media screen and (max-width: 768px) { */
/*     #table-of-contents { */
/*         display: none; */
/*         width: 60%; */
/*     } */

/*     #table-of-contents h2 a { */
/*         display: block; */
/*     } */

/*     #table-of-contents:target { */
/*         display: block; */
/*     } */

/*     #copyright, #postamble { */
/*         display: none; */
/*     } */

/*     #toggle-sidebar { */
/*         background-color: #2980B9; */
/*         display: block; */
/*         margin-bottom: 1.6em; */
/*         padding: 0.6em; */
/*         text-align: center; */
/*     } */

/*     #toggle-sidebar h2 { */
/* 		background-color:#2980B9; */
/* 		width:100%; */
/* 		height:50px; */
/* 		left:0; */
/* 		top:0; */
/*         color: white; */
/*         font-size: 100%; */
/*         line-height: 50px; */
/* 		position:fixed; */
/*         margin: 0; */
/*         padding: 0; */
/* 		opacity:0.7; */
/*     } */

/*     #table-of-contents .close-sidebar { */
/*        color: rgba(255, 255, 255, 0.3); */
/*        display: inline-block; */
/*        margin: 0px 10px 0px 45px; */
/*        padding: 10px; */
/*     } */
/* } */

/* *{ */
/*     -webkit-box-sizing:border-box; */
/*     -moz-box-sizing:border-box; */
/*     box-sizing:border-box; */
/* } */

/* figcaption,figure,footer,header,hgroup,nav{ */
/*     display:block} */

/* ins{ */
/*     background:#ff9; */
/*     color:#000; */
/*     text-decoration:none} */

/* mark{ */
/*     background:#ff0; */
/*     color:#000; */
/*     font-style:italic; */
/*     font-weight:bold} */

/* small{ */
/*     font-size:85%} */

/* sub,sup{ */
/*     font-size:75%; */
/*     line-height:0; */
/*     position:relative; */
/*     vertical-align:baseline} */

/* sup{ */
/*     top:-0.5em} */

/* sub{ */
/*     bottom:-0.25em} */

/* img{ */
/*     -ms-interpolation-mode:bicubic; */
/*     vertical-align:middle; */
/*     max-width:100%} */

/* svg:not(:root){ */
/*     overflow:hidden} */

/* figure{ */
/*     margin:0} */

/* label{ */
/*     cursor:pointer} */

/* legend{ */
/*     border:0; */
/*     margin-left:-7px; */
/*     padding:0; */
/*     white-space:normal} */

/* .fa:before, .admonition-title:before, h1 .headerlink:before, h2 .headerlink:before, h3 .headerlink:before, h4 .headerlink:before, h5 .headerlink:before, h6 .headerlink:before, dl dt .headerlink:before,.icon:before,.wy-dropdown .caret:before,.wy-inline-validate.wy-inline-validate-success .wy-input-context:before,.wy-inline-validate.wy-inline-validate-danger .wy-input-context:before,.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before,.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,.wy-alert, .note, .attention, .caution, .danger, .error, .hint, .important, .tip, .warning, .seealso, .admonitiontodo,.btn,input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="date"],input[type="month"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="week"],input[type="number"],input[type="search"],input[type="tel"],input[type="color"],select,textarea,#table-of-contents li.on a,#table-of-contents li.current>a,.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a,.wy-nav-top a{ */
/*     -webkit-font-smoothing:antialiased} */

.admonition-title:before, .note, .attention, .caution, .danger, .error, .hint, .important, .tip, .warning, .seealso, .admonitiontodo,.btn{
    -webkit-font-smoothing:antialiased}

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{
    font-family:'FontAwesome';
    src:url("../fonts/fontawesome-webfont.eot?v=4.1.0");
    src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight:normal;
    font-style:normal}

.admonition-title{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}

/* .fa-ul{ */
/*     padding-left:0; */
/*     margin-left:2.14286em; */
/*     list-style-type:none} */

/* .fa-ul>li{ */
/*     position:relative} */

/* .fa-li{ */
/*     position:absolute; */
/*     left:-2.14286em; */
/*     width:2.14286em; */
/*     top:0.14286em; */
/*     text-align:center} */

/* .fa-li.fa-lg{ */
/*     left:-1.85714em} */

/* .fa-border{ */
/*     padding:.2em .25em .15em; */
/*     border:solid 0.08em #eee; */
/*     border-radius:.1em} */

.admonition-title{
    /* font-family:inherit */
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.admonition-title:before{
    font-family:"FontAwesome";
    display:inline-block;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    text-decoration:inherit}

.admonition-title {
    display:inline-block;
    text-decoration:inherit}

.wy-alert, .note, .attention, .caution, .danger, .error, .hint, .important, .tip, .warning, .seealso, .admonitiontodo{
    font-size: 85%;
    line-height: 1.5;
    /* margin:0px 0px 24px 0px; */
    padding:12px;
    /* line-height:24px; */
    margin-bottom:24px;
    /* background:#e7f2fa; */
}


.danger, .error{
    background:#fdf3f2}

.wy-alert.wy-alert-warning, .wy-alert-warning.note, .attention, .caution, .wy-alert-warning.danger, .wy-alert-warning.error, .wy-alert-warning.hint, .wy-alert-warning.important, .wy-alert-warning.tip, .warning, .wy-alert-warning.seealso, .admonitiontodo{
    background:#ffedcc}

.admonition-title.note:before,  .admonition-title.seealso:before,
.admonition-title.warning:before,  .admonition-title.caution:before,
.admonition-title.attention:before,
.admonition-title.tip:before,  .admonition-title.hint:before,
.admonition-title.important:before,
.admonition-title.error:before, .admonition-title.danger:before{
    font-family:FontAwesome;
    content: "";}

.note, .seealso{
    background:#e7f2fa}

.wy-alert p:last-child, .note p:last-child, .attention p:last-child, .caution p:last-child, .danger p:last-child, .error p:last-child, .hint p:last-child, .important p:last-child, .tip p:last-child, .warning p:last-child, .seealso p:last-child, .admonitiontodo p:last-child{
    margin-bottom:0}

.admonition-title.tip, .admonition-title.important, .admonition-title.hint{
    line-height: 1;
    background:#1abc9c}

.important, .tip, .hint{
    background:#dbfaf4}

.dark .important{
    color:#1abc9c;
    background:#fff}

.dark .admonition-title.important{
    color: #fff;
    line-height: 1;
    background:#1abc9c}

.admonition-title.note, .admonition-title.seealso{
    line-height: 1;
    background:#6ab0de}

.admonition-title.warning, .admonition-title.caution, .admonition-title.attention{
    line-height: 1;
    background:#F0B37E}

.admonition-title.error, .admonition-title.danger{
    line-height: 1;
    background:#f29f97}

.wy-alert-title, .admonition-title{
    color:#fff;
    font-weight:bold;
    display:block;
    color:#fff;
    /* background:#6ab0de; */
    /* margin:-12px; */
    padding:6px 12px;
    margin-bottom:0px}

/* legend{ */
/*     display:block; */
/*     width:100%; */
/*     border:0; */
/*     padding:0; */
/*     white-space:normal; */
/*     margin-bottom:24px; */
/*     font-size:150%; */
/*     *margin-left:-7px} */

/* label{ */
/*     display:block; */
/*     margin:0 0 0.3125em 0; */
/*     color:#333; */
/*     font-size:90%} */

/* a{ */
/*     color:#2980B9; */
/*     text-decoration:none; */
/*     cursor:pointer} */


/* a:hover,a:active{ */
/*     outline:0; */
/* } */

/* a:hover{ */
/*     color:#3091d1} */

/* a:visited{ */
/*     color:#9B59B6} */

/* .left{ */
/*     text-align:left} */

/* .center{ */
/*     text-align:center} */

/* .right{ */
/*     text-align:right} */

/* hr{ */
/*     display:block; */
/*     height:1px; */
/*     border:0; */
/*     border-top:1px solid #e1e4e5; */
/*     margin:24px 0; */
/*     padding:0} */

/* #table-of-contents li{ */
/*     list-style:none; */
/*     margin-left: 0px; */
/* } */

/* #table-of-contents header{ */
/*     height:32px; */
/*     display:inline-block; */
/*     line-height:32px; */
/*     padding:0 1.618em; */
/*     display:block; */
/*     font-weight:bold; */
/*     text-transform:uppercase; */
/*     font-size:80%; */
/*     color:#2980B9; */
/*     white-space:nowrap} */

/* #table-of-contents ul{ */
/*     margin-bottom:0} */

/* #table-of-contents li.divide-top{ */
/*     border-top:solid 1px #404040} */

/* #table-of-contents li.divide-bottom{ */
/*     border-bottom:solid 1px #404040} */

/* #table-of-contents li.current{ */
/*     background:#e3e3e3} */

/* #table-of-contents li.current a{ */
/*     color:gray; */
/*     border-right:solid 1px #c9c9c9; */
/*     padding:0.4045em 2.427em} */

/* #table-of-contents li.current a:hover{ */
/*     background:#d6d6d6} */

/* #table-of-contents li a{ */
/*     /\* color:#404040; *\/ */
/*     padding:0.4045em 1.618em; */
/*     position:relative; */
/*     /\* background:#fcfcfc; *\/ */
/*     border:none; */
/*     /\* border-bottom:solid 1px #c9c9c9; *\/ */
/*     /\* border-top:solid 1px #c9c9c9; *\/ */
/*     padding-left:1.618em -4px} */

/* #table-of-contents li.on a:hover,#table-of-contents li.current>a:hover{ */
/*     background:#fcfcfc} */

/* #table-of-contents li ul li a{ */
/*     /\* background:#c9c9c9; *\/ */
/*     padding:0.4045em 2.427em} */

/* #table-of-contents li ul li ul li a{ */
/*     padding:0.4045em 3.236em} */

/* #table-of-contents li.current ul{ */
/*     display:block} */

/* /\* #table-of-contents li ul{ *\/ */
/* /\*     margin-bottom:0; *\/ */
/* /\*     display:none} *\/ */

/* #table-of-contents .local-toc li ul{ */
/*     display:block} */

/* #table-of-contents li ul li a{ */
/*     margin-bottom:0; */
/*     color:#b3b3b3; */
/*     font-weight:normal} */

/* #table-of-contents a{ */
/*     display:inline-block; */
/*     line-height:18px; */
/*     padding:0.4045em 1.618em; */
/*     display:block; */
/*     position:relative; */
/*     font-size:90%; */
/*     color:#b3b3b3; */
/*     direction: ltr; */
/* } */

/* #table-of-contents a:hover{ */
/*     background-color:#4e4a4a; */
/*     cursor:pointer} */

/* /\* #text-table-of-contents { *\/ */
/* /\*     overflow:scroll; *\/ */
/* /\* } *\/ */

/* #table-of-contents{ */
/*     position:fixed; */
/*     top:0; */
/*     left:0; */
/*     width:300px; */
/*     overflow-x:hidden; */
/*     overflow-y:scroll; */
/*     height:100%; */
/*     background:#343131; */
/*     z-index:200; */
/*     scrollbar-base-color: #1F1D1D; */
/*     scrollbar-arrow-color: #b3b3b3; */
/*     scrollbar-shadow-color: #1F1D1D; */
/*     scrollbar-track-color : #343131; */
/* } */

/* #table-of-contents h2{ */
/*     z-index:200; */
/*     background-color:#2980B9; */
/*     text-align:center; */
/*     padding:0.809em; */
/*     display:block; */
/*     color:#fcfcfc; */
/*     font-size: 100%; */
/*     margin-bottom:0.809em} */

/* ul.nav li ul li { */
/*     display: none; */
/* } */

/* ul.nav li ul li ul li { */
/*     display: none; */
/* } */

/* ul.nav li.active ul li { */
/*     display: inline; */
/* } */

/* ul.nav li.active ul li ul li { */
/*     display: inline; */
/* } */

/* ul.nav li.active ul li a { */
/*     background-color: #E3E3E3; */
/*     color: #8099B0; */
/*     border-right:solid 1px #c9c9c9 !important; */
/* } */

/* ul.nav li.active ul li.active a { */
/*     background-color: #C9C9C9; */
/*     color: black !important; */
/*     font-weight: bold !important; */
/* } */

/* ul.nav li.active ul li.active ul li.active a { */
/*     color: black !important; */
/*     font-weight: bold !important; */
/*     display: block !important; */
/* } */

/* ul.nav li.active ul li.active ul li a { */
/*     color: #808080 !important; */
/*     font-weight: normal !important; */
/*     display: block !important; */
/* } */

/* ul.nav li.active ul li ul li a { */
/*     display: none !important; */
/* } */

/* /\* ul.nav li ul li ul li { *\/ */
/* /\*     display: none !important; /\\* as long as nav is on multiple levels of ul *\\/ *\/ */
/* /\*     /\\* display: none; /\\* as long as nav is on multiple levels of ul *\\\/ *\\/ *\/ */
/* /\* } *\/ */

/* ul.nav li ul li ul li ul li { */
/*     display: none !important; /\* as long as nav is on multiple levels of ul *\/ */
/*     /\* display: none; /\* as long as nav is on multiple levels of ul *\\/ *\/ */
/* } */

/* ul.nav li.active > a { */
/*     border-bottom:solid 1px #c9c9c9 !important; /\* XXX Restrict it to 2nd level *\/ */
/*     border-right:solid 1px #c9c9c9 !important; */
/* } */

/* ul.nav li.active a { */
/*     color: gray !important; */
/*     font-weight:bold; */
/*     background-color: white; */
/*     border-right:solid 0px white !important; */
/* } */

/* ul.nav > li.active > a { */
/*     color: black !important; */
/* } */

/* footer{ */
/*     color:#999} */

/* footer p{ */
/*     margin-bottom:12px} */

/* #copyright, #postamble{ */
/*     position:fixed; */
/*     bottom:0; */
/*     left:0; */
/*     width:300px; */
/*     color:#fcfcfc; */
/*     background:#1f1d1d; */
/*     border-top:solid 10px #343131; */
/*     font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; */
/*     font-size: 90%; */
/*     z-index:400; */
/*     padding:12px; */
/* } */

/* #postamble .author { */
/*     font-size: 100%; */
/*     margin-bottom: 0px; */
/* } */

/* #postamble .date { */
/*     font-size: 90%; */
/*     margin-bottom: 0px; */
/*     color: #27AE60; */
/* } */

/* #postamble .creator,#postamble .validation { */
/*     display:none; */
/* } */

/* #copyright a{ */
/*     color:#2980B9; */
/*     text-decoration:none} */

/* #copyright .rst-current-version{ */
/*     padding:12px; */
/*     background-color:#272525; */
/*     display:block; */
/*     text-align:right; */
/*     font-size:90%; */
/*     cursor:pointer; */
/*     color:#27AE60; */
/*     *zoom:1} */

/*  img{ */
/*     max-width:100%; */
/* } */

/*  div.figure{ */
/*     margin-bottom:24px} */

/*  div.figure.align-center{ */
/*     text-align:center} */

/*  .section>img, .section>a>img{ */
/*     margin-bottom:24px} */

/* .verse{ */
/*     border-left:5px solid #6AB0DE; */
/*     background-color: #E7F2FA; */
/*     padding: 6px 20px; */
/*     font-style:italic; */
/* } */

/*  .note .last, .attention .last, .caution .last, .danger .last, .error .last, .hint .last, .important .last, .tip .last, .warning .last, .seealso .last, .admonitiontodo .last{ */
/*     margin-bottom:0} */

/*  .admonition-title:before{ */
/*     margin-right:4px} */

/*  .section ol p, .section ul p{ */
/*     margin-bottom:12px} */

/*  h1 .headerlink, h2 .headerlink, h3 .headerlink, h4 .headerlink, h5 .headerlink, h6 .headerlink, dl dt .headerlink{ */
/*     display:none; */
/*     visibility:hidden; */
/*     font-size:14px} */

/*  h1 .headerlink:after, h2 .headerlink:after, h3 .headerlink:after, h4 .headerlink:after, h5 .headerlink:after, h6 .headerlink:after, dl dt .headerlink:after{ */
/*     visibility:visible; */
/*     content:""; */
/*     font-family:FontAwesome; */
/*     display:inline-block} */

/*  h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, dl dt:hover .headerlink{ */
/*     display:inline-block} */

/*  .sidebar{ */
/*     float:right; */
/*     width:40%; */
/*     display:block; */
/*     margin:0 0 24px 24px; */
/*     padding:24px; */
/*     background:#f3f6f6; */
/*     border:solid 1px #e1e4e5} */

/*  .sidebar p, .sidebar ul, .sidebar dl{ */
/*     font-size:90%} */

/*  .sidebar .last{ */
/*     margin-bottom:0} */

/*  .sidebar .sidebar-title{ */
/*     display:block; */
/*     font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif; */
/*     font-weight:bold; */
/*     background:#e1e4e5; */
/*     padding:6px 12px; */
/*     margin:-24px; */
/*     margin-bottom:24px; */
/*     font-size:100%} */

/*  .highlighted{ */
/*     background:#F1C40F; */
/*     display:inline-block; */
/*     font-weight:bold; */
/*     padding:0 6px} */

/*  .footnote-reference, .citation-reference{ */
/*     vertical-align:super; */
/*     font-size:90%} */

/* span[id*='MathJax-Span']{ */
/*     color:#404040} */

/* .math{ */
/*     text-align:center} */

/* #footnotes{ */
/*     border-top:1px solid #e1e4e5; */
/*     padding-top: 36px; */
/* } */

/* h2.footnotes{ */
/*     display:none; */
/* } */

/* .footnum, .footref{ */
/*     color: #2980b9; */
/*     font-size: 170%; */
/*     font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; */
/* } */

/* .footnum:before, .footref:before{ */
/*     content:"["; */
/* } */

/* .footnum:after, .footref:after{ */
/*     content:"]"; */
/* } */

/* .footpara { */
/*     color: #999; */
/*     font-size: 90%; */
/*     font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; */
/*     padding-bottom: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     padding-top: 8px; */
/*     line-height: 1.25em; */
/*     /\* display: inline; *\/ */
/* } */

/* .todo{ */
/*     background-color: #f29f97; */
/*     padding: 0px 4px; */
/*     color: #fff; */
/* } */

/* .WAIT, .nilWAIT{ */
/*     background-color: #6AB097; */
/* } */

/* .done{ */
/*     background-color: #6ab0de; */
/*     padding: 0px 4px; */
/*     color: #fff; */
/* } */

/* .tag span { */
/*     background-color: #EDEDED; */
/*     border: 1px solid #EDEDED; */
/*     color: #939393; */
/*     cursor: pointer; */
/*     display: block; */
/*     float: right; */
/*     font-size: 80%; */
/*     font-weight: normal; */
/*     margin: 0 3px; */
/*     padding: 1px 2px; */
/*     border-radius: 10px; */
/* } */

/* .tag .FLAGGED { */
/*     background-color: #DB2D27; */
/*     border: 1px solid #DB2D27; */
/*     color: white; */
/*     font-weight: bold; */
/* } */

/* .timestamp { */
/*     font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace; */
/*     font-size: 90%; */
/*     color: navy; */
/* } */

/* .inlinetask { */
/*     background: #FFF9E3;  /\* url(dialog-todo.png) no-repeat 10px 8px; *\/ */
/*     border: 3px solid #FFEB8E; */
/*     /\* border-right-style: none; *\/ */
/*     /\* border-left-style: none; *\/ */
/*     /\* padding: 10px 20px 10px 60px; *\/ */
/*     padding: 9px 12px; */
/*     margin-bottom: 24px; */
/*     font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif} */

/* https://github.com/file-icons/atom/tree/master/fonts */
/* Find characters from http://bluejamesbond.github.io/CharacterMap/ */
@font-face {
    font-family: 'Atom File Icon';
    src: url('file-icons.eot'); /* IE9 Compat Modes */
    src: url('file-icons.woff2') format('woff2'), /* Super Modern Browsers */
         url('file-icons.woff') format('woff'), /* Pretty Modern Browsers */
         url('file-icons.svg') format('svg'), /* Legacy iOS */
         /* url('file-icons.eot?#iefix') format('embedded-opentype'), /\* IE6-IE8 *\/ */
         url('file-icons.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.afi {
    font-family:"Atom File Icon";
    -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}

.afi-emacs:before{content: "\e926"}
.afi-matlab:before{content: "\e991"}
